<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xbel>
<xbel xmlns:bookmark="http://www.freedesktop.org/standards/desktop-bookmarks" xmlns:kdepriv="http://www.kde.org/kdepriv" xmlns:mime="http://www.freedesktop.org/standards/shared-mime-info">
 <info>
  <metadata owner="http://www.kde.org">
   <kde_places_version>4</kde_places_version>
   <GroupState-Places-IsHidden>false</GroupState-Places-IsHidden>
   <GroupState-Remote-IsHidden>false</GroupState-Remote-IsHidden>
   <GroupState-Devices-IsHidden>false</GroupState-Devices-IsHidden>
   <GroupState-RemovableDevices-IsHidden>false</GroupState-RemovableDevices-IsHidden>
   <GroupState-Tags-IsHidden>false</GroupState-Tags-IsHidden>
   <withRecentlyUsed>true</withRecentlyUsed>
   <GroupState-RecentlySaved-IsHidden>false</GroupState-RecentlySaved-IsHidden>
   <withBaloo>true</withBaloo>
   <GroupState-SearchFor-IsHidden>false</GroupState-SearchFor-IsHidden>
  </metadata>
 </info>
 <bookmark href="file://__HOME__">
  <title>Home</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-cyan-home"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/0</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/Dokumenty">
  <title>PROJECT ARCHIVE</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-documents"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784929181/2</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/.cyberdeck/">
  <title>CYBERDECK CORE</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-vbox"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784929062/1</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/.cyberdeck/nexus/">
  <title>HELM NEXUS</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-development"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784928967/0</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/Pulpit">
  <title>Desktop</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-desktop"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/1</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/Dokumenty">
  <title>Documents</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-documents"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/2</ID>
    <isSystemItem>true</isSystemItem>
    <IsHidden>true</IsHidden>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/Pobrane">
  <title>Downloads</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-download"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/3</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/Muzyka">
  <title>Music</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-music"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/6</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/Obrazy">
  <title>Pictures</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-pictures"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/7</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file://__HOME__/Wideo">
  <title>Videos</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-video"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/8</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="remote:/">
  <title>Network</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-cyan-network"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/4</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="trash:/">
  <title>Trash</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-trash"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/5</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="recentlyused:/files">
  <title>Recent Files</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="document-open-recent"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/9</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="recentlyused:/locations">
  <title>Recent Locations</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-open-recent"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1784658081/10</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme0n1p3</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>e0e0ba09e0b9e646</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme0n1p5</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>a05f6832-1195-4b87-8ce4-a8a5c24e2471</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/sda1</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>bcde-4018</uuid>
   </metadata>
  </info>
 </separator>
</xbel>
